{% extends 'accounts/main.html' %}

{% block content %}
<br>
    <div class="row">
      <div class="card-header col-md-4  col-sm-2">
        <div class="card text-white bg-primary text-center">
            <div class="card-header">Total Students</div>
              <div class="card-body">
                <h5 class="card-text">{{ total_students }}</h5>
              </div>
        </div>
      </div>
      <div class="card-header col-md-4 col-sm-2">
        <div class="card text-white bg-secondary text-center">
            <div class="card-header">Total Lesson</div>
              <div class="card-body">
                <h5 class="card-text">{{ total_lesson }}</h5>
              </div>
        </div>
      </div>
      <div class="card-header col-md-4 col-sm-2">
        <div class="card text-white bg-info text-center">
            <div class="card-header">Total Notes</div>
              <div class="card-body">
                <h5 class="card-text">{{ total_notes }}</h5>
              </div>
        </div>
      </div>
    </div>
{% endblock content %}