<br>
<div class="row">
            <div class="col-md-2">
                        <div class="row">
                            <div class="col">
                                <div class="col-md">
                                    <div class="card text-center border-info mb-3" style="max-width: 18rem;">
                                         <div class="card-body">
                                            <a class="nav-link" href="{% url 'notes' %}">View All Notes</a>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="col-md-2">
                    <div class="row">
                        <div class="col">
                            <div class="col-md">
                                <div class="card text-center border-info mb-3" style="max-width: 18rem;">
                                     <div class="card-body">
                                        <a class="nav-link" href="{% url 'notes_create' %}">Create Notes</a>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-2">
                    <div class="row">
                            <div class="col">
                                <div class="col-md">
                                    <div class="card text-center border-info mb-3" style="max-width: 18rem;">
                                         <div class="card-body">
                                            <a class="nav-link" href="{% url 'notes_delete' %}">Delete Notes</a>
                                         </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="col-md-2">
                  <div class="row">
                       <div class="col">
                            <div class="col-md">
                                <div class="card text-center border-info mb-3" style="max-width: 18rem;">
                                     <div class="card-body">
                                         <a class="nav-link" href="{% url 'notes_update' %}">Update Notes</a>
                                     </div>
                                </div>
                            </div>
                       </div>
                  </div>
            </div>
        </div>