<br>
        <div class="row">
            <div class="col-md-2">
                        <div class="row">
                            <div class="col">
                                <div class="col-md">
                                    <div class="card text-center border-info mb-3" style="max-width: 18rem;">
                                         <div class="card-body">
                                            <a class="nav-link" href="{% url 'lessons' %}">View All Lesson</a>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="col-md-2">
                    <div class="row">
                        <div class="col">
                            <div class="col-md">
                                <div class="card text-center border-info mb-3" style="max-width: 18rem;">
                                     <div class="card-body">
                                        <a class="nav-link" href="{% url 'create_lesson' %}">Create Lesson</a>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-2">
                    <div class="row">
                            <div class="col">
                                <div class="col-md">
                                    <div class="card text-center border-info mb-3" style="max-width: 18rem;">
                                         <div class="card-body">
                                            <a class="nav-link" href="{% url 'lesson_delete_page' %}">Delete Lesson</a>
                                         </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="col-md-2">
                  <div class="row">
                       <div class="col">
                            <div class="col-md">
                                <div class="card text-center border-info mb-3" style="max-width: 18rem;">
                                     <div class="card-body">
                                         <a class="nav-link" href="{% url 'lesson_update_page' %}">Update Lesson</a>
                                     </div>
                                </div>
                            </div>
                       </div>
                  </div>
            </div>
        </div>