{% extends 'accounts/main.html' %}

{% block content %}
<br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Total Students</h5>
            <p class="card-text">{{ total_students }}</p>
            <a href="{% url 'dashboard_student' %}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Total Lesson</h5>
            <p class="card-text">{{ total_lesson }}</p>
            <a href="{% url 'dashboard_lesson' %}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
        <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Total Notes</h5>
                <p class="card-text">{{ total_notes }}</p>
                <a href="{% url 'dashboard_notes' %}" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
    </div>
{% endblock content %}