{% extends 'accounts/main.html' %}

{% block content %}
        <h3 class="text-center m-4">Dersi Güncelle</h3>
        {% if success %}
        <div class="alert alert-success" role="alert">
            Ders başarıyla güncellendi.
            <a href="{% url 'period' %}" class="alert-link">Ana sayfaya git.</a>
        </div>
        {% else %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i> Ders Kayıtlarını Güncelle
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                            <a href="{% url 'period' %}" class="btn btn-secondary">İptal</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

{% endblock %}