{% extends 'accounts/main.html' %}

{% block content %}

    <div class="container-fluid">
    <h3 class="m-2">Tüm Dersler : </h3>
        <div class="row">
            <div class="col-11">
                <div class="card bg-light ms-3 me-3 mb-3">
                     <div class="card-body m-1">
                        <p class="card-text">
                            <div class="table-responsive">

                                <ul class="nav nav-tabs" role="tablist">
                                {% for i in period %}
                                {% if i.id == 1 %}
                                  <li class="nav-item" role="presentation">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#donem{{ i.id }}" aria-selected="true" role="tab">{{ i.name }}</a>
                                  </li>
                                {% endif %}
                                {% endfor %}

                                {% for i in period %}
                                {% if i.id == 2 %}
                                  <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#donem{{ i.id }}" aria-selected="false" role="tab" tabindex="-1">{{ i.name }}</a>
                                  </li>
                                {% endif %}
                                {% endfor %}

                                {% for i in period %}
                                {% if i.id == 3 %}
                                  <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#donem{{ i.id }}" aria-selected="false" role="tab" tabindex="-1">{{ i.name }}</a>
                                  </li>
                                {% endif %}
                                {% endfor %}

                                {% for i in period %}
                                {% if i.id == 4 %}
                                  <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#donem{{ i.id }}" aria-selected="false" role="tab" tabindex="-1">{{ i.name }}</a>
                                  </li>
                                {% endif %}
                                {% endfor %}

                                {% for i in period %}
                                {% if i.id == 5 %}
                                  <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#donem{{ i.id }}" aria-selected="false" role="tab" tabindex="-1">{{ i.name }}</a>
                                  </li>
                                {% endif %}
                                {% endfor %}

                                {% for i in period %}
                                {% if i.id == 6 %}
                                  <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#donem{{ i.id }}" aria-selected="false" role="tab" tabindex="-1">{{ i.name }}</a>
                                  </li>
                                {% endif %}
                                {% endfor %}

                                {% for i in period %}
                                {% if i.id == 7 %}
                                  <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#donem{{ i.id }}" aria-selected="false" role="tab" tabindex="-1">{{ i.name }}</a>
                                  </li>
                                {% endif %}
                                {% endfor %}

                                {% for i in period %}
                                {% if i.id == 10 %}
                                  <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#donem{{ i.id }}" aria-selected="false" role="tab" tabindex="-1">{{ i.name }}</a>
                                  </li>
                                {% endif %}
                                {% endfor %}
                                </ul>

                                <div id="myTabContent" class="tab-content">
                                    {% for i in period %}
                                        {% if i.id == 1 %}
                                          <div class="tab-pane fade active show" id="donem{{ i.id }}" role="tabpanel">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                       <th scope="col">Ders Kodu</th>
                                                       <th scope="col">Ders Adı</th>
                                                       <th scope="col">Ders Kredisi</th>
                                                       <th scope="col">ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   {% for l in notes %}
                                                      {% if l.lesson.period.id == i.id %}
                                                      <tr>
                                                          <td style="width:20%">{{ l.lesson.lcode }}</td>
                                                          <td style="width:20%">{{ l.lesson.lname }}</td>
                                                          <td style="width:20%">{{ l.lesson.lcredit }}</td>
                                                          <td style="width:40%">
                                                               <button type="button" class="btn me-1" href="{% url 'lesson_view' l.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{ l.id }}">
                                                                    <i class="fa-solid fa-circle-info"></i>
                                                               </button>

                                                               <!-- model view lesson -->

                                                                <div class="modal" id="myModal{{ l.id }}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title">Ders : {{ l.lesson.lname }}</h5>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true"></span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <ul class="List-unstyled">
                                                                                    <li>Ders Kodu: <strong>{{ l.lesson.lcode }}</strong></li>
                                                                                    <li>Ders Adı: <strong>{{ l.lesson.lname }}</strong></li>
                                                                                    <li>Ders Kredisi: <strong>{{ l.lesson.lcredit }}</strong></li>
                                                                                    <li>Ders Dönemi: <strong>{{ l.lesson.period }}</strong></li>
                                                                                    <li>Öğrenci Sayısı: <strong>{{ l.lesson.student.count }}</strong></li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kapat</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                          </td>
                                                      </tr>
                                                      {% endif %}
                                                   {% endfor %}
                                                </tbody>
                                            </table>
                                          </div>
                                        {% endif %}
                                    {% endfor %}

                                    {% for i in period %}
                                       {% if i.id == 2 %}
                                          <div class="tab-pane fade" id="donem{{ i.id }}" role="tabpanel">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Ders Kodu</th>
                                                        <th scope="col">Ders Adı</th>
                                                        <th scope="col">Ders Kredisi</th>
                                                        <th scope="col">ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for l in notes %}
                                                       {% if l.lesson.period.id == i.id %}
                                                           <tr>
                                                               <td style="width:20%">{{ l.lesson.lcode }}</td>
                                                               <td style="width:20%">{{ l.lesson.lname }}</td>
                                                               <td style="width:20%">{{ l.lesson.lcredit }}</td>
                                                               <td style="width:40%">
                                                                   <button type="button" class="btn me-1" href="{% url 'lesson_view' l.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{ l.id }}">
                                                                       <i class="fa-solid fa-circle-info"></i>
                                                                   </button>

                                                                    <!-- model view lesson -->

                                                                   <div class="modal" id="myModal{{ l.id }}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                                       <div class="modal-dialog" role="document">
                                                                           <div class="modal-content">
                                                                               <div class="modal-header">
                                                                                   <h5 class="modal-title">Ders : {{ l.lesson.lname }}</h5>
                                                                                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true"></span>
                                                                                   </button>
                                                                               </div>
                                                                               <div class="modal-body">
                                                                                   <ul class="List-unstyled">
                                                                                      <li>Ders Kodu: <strong>{{ l.lesson.lcode }}</strong></li>
                                                                                      <li>Ders Adı: <strong>{{ l.lesson.lname }}</strong></li>
                                                                                      <li>Ders Kredisi: <strong>{{ l.lesson.lcredit }}</strong></li>
                                                                                      <li>Ders Dönemi: <strong>{{ l.lesson.period }}</strong></li>
                                                                                      <li>Öğrenci Sayısı: <strong>{{ l.lesson.student.count }}</strong></li>
                                                                                   </ul>
                                                                               </div>
                                                                               <div class="modal-footer">
                                                                                     <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kapat</button>
                                                                               </div>
                                                                           </div>
                                                                       </div>
                                                                   </div>
                                                               </td>
                                                           </tr>
                                                       {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                          </div>
                                      {% endif %}
                                    {% endfor %}

                                    {% for i in period %}
                                       {% if i.id == 3 %}
                                          <div class="tab-pane fade" id="donem{{ i.id }}" role="tabpanel">
                                             <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Ders Kodu</th>
                                                        <th scope="col">Ders Adı</th>
                                                        <th scope="col">Ders Kredisi</th>
                                                        <th scope="col">ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for l in notes %}
                                                        {% if l.lesson.period.id == i.id %}
                                                            <tr>
                                                                <td style="width:20%">{{ l.lesson.lcode }}</td>
                                                                <td style="width:20%">{{ l.lesson.lname }}</td>
                                                                <td style="width:20%">{{ l.lesson.lcredit }}</td>
                                                                <td style="width:40%">
                                                                    <button type="button" class="btn me-1" href="{% url 'lesson_view' l.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{ l.id }}">
                                                                        <i class="fa-solid fa-circle-info"></i>
                                                                    </button>

                                                                    <!-- model view lesson -->

                                                                    <div class="modal" id="myModal{{ l.id }}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                     <h5 class="modal-title">Ders : {{ l.lesson.lname }}</h5>
                                                                                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true"></span>
                                                                                     </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <ul class="List-unstyled">
                                                                                        <li>Ders Kodu: <strong>{{ l.lesson.lcode }}</strong></li>
                                                                                        <li>Ders Adı: <strong>{{ l.lesson.lname }}</strong></li>
                                                                                        <li>Ders Kredisi: <strong>{{ l.lesson.lcredit }}</strong></li>
                                                                                        <li>Ders Dönemi: <strong>{{ l.lesson.period }}</strong></li>
                                                                                        <li>Öğrenci Sayısı: <strong>{{ l.lesson.student.count }}</strong></li>
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kapat</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                          </div>
                                      {% endif %}
                                    {% endfor %}

                                    {% for i in period %}
                                       {% if i.id == 4 %}
                                          <div class="tab-pane fade" id="donem{{ i.id }}" role="tabpanel">
                                             <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Ders Kodu</th>
                                                        <th scope="col">Ders Adı</th>
                                                        <th scope="col">Ders Kredisi</th>
                                                        <th scope="col">ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for l in notes %}
                                                        {% if l.lesson.period.id == i.id %}
                                                            <tr>
                                                                <td style="width:20%">{{ l.lesson.lcode }}</td>
                                                                <td style="width:20%">{{ l.lesson.lname }}</td>
                                                                <td style="width:20%">{{ l.lesson.lcredit }}</td>
                                                                <td style="width:40%">
                                                                    <button type="button" class="btn me-1" href="{% url 'lesson_view' l.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{ l.id }}">
                                                                        <i class="fa-solid fa-circle-info"></i>
                                                                    </button>

                                                                    <!-- model view lesson -->

                                                                    <div class="modal" id="myModal{{ l.id }}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title">Ders : {{ l.lesson.lname }}</h5>
                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true"></span>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <ul class="List-unstyled">
                                                                                        <li>Ders Kodu: <strong>{{ l.lesson.lcode }}</strong></li>
                                                                                        <li>Ders Adı: <strong>{{ l.lesson.lname }}</strong></li>
                                                                                        <li>Ders Kredisi: <strong>{{ l.lesson.lcredit }}</strong></li>
                                                                                        <li>Ders Dönemi: <strong>{{ l.lesson.period }}</strong></li>
                                                                                        <li>Öğrenci Sayısı: <strong>{{ l.lesson.student.count }}</strong></li>
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kapat</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                          </div>
                                      {% endif %}
                                    {% endfor %}

                                    {% for i in period %}
                                       {% if i.id == 5 %}
                                          <div class="tab-pane fade" id="donem{{ i.id }}" role="tabpanel">
                                             <table class="table table-hover">
                                                <thead>
                                                   <tr>
                                                       <th scope="col">Ders Kodu</th>
                                                       <th scope="col">Ders Adı</th>
                                                       <th scope="col">Ders Kredisi</th>
                                                       <th scope="col">ACTION</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                    {% for l in notes %}
                                                        {% if l.lesson.period.id == i.id %}
                                                            <tr>
                                                                <td style="width:20%">{{ l.lesson.lcode }}</td>
                                                                <td style="width:20%">{{ l.lesson.lname }}</td>
                                                                <td style="width:20%">{{ l.lesson.lcredit }}</td>
                                                                <td style="width:40%">
                                                                    <button type="button" class="btn me-1" href="{% url 'lesson_view' l.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{ l.id }}">
                                                                        <i class="fa-solid fa-circle-info"></i>
                                                                    </button>

                                                                    <!-- model view lesson -->

                                                                    <div class="modal" id="myModal{{ l.id }}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title">Ders : {{ l.lesson.lname }}</h5>
                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                                         <span aria-hidden="true"></span>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <ul class="List-unstyled">
                                                                                       <li>Ders Kodu: <strong>{{ l.lesson.lcode }}</strong></li>
                                                                                       <li>Ders Adı: <strong>{{ l.lesson.lname }}</strong></li>
                                                                                       <li>Ders Kredisi: <strong>{{ l.lesson.lcredit }}</strong></li>
                                                                                       <li>Ders Dönemi: <strong>{{ l.lesson.period }}</strong></li>
                                                                                       <li>Öğrenci Sayısı: <strong>{{ l.lesson.student.count }}</strong></li>
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kapat</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                          </div>
                                      {% endif %}
                                    {% endfor %}

                                    {% for i in period %}
                                       {% if i.id == 6 %}
                                          <div class="tab-pane fade" id="donem{{ i.id }}" role="tabpanel">
                                             <table class="table table-hover">
                                                <thead>
                                                   <tr>
                                                      <th scope="col">Ders Kodu</th>
                                                      <th scope="col">Ders Adı</th>
                                                      <th scope="col">Ders Kredisi</th>
                                                      <th scope="col">ACTION</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                    {% for l in notes %}
                                                        {% if l.lesson.period.id == i.id %}
                                                             <tr>
                                                                 <td style="width:20%">{{ l.lesson.lcode }}</td>
                                                                 <td style="width:20%">{{ l.lesson.lname }}</td>
                                                                 <td style="width:20%">{{ l.lesson.lcredit }}</td>
                                                                 <td style="width:40%">
                                                                     <button type="button" class="btn me-1" href="{% url 'lesson_view' l.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{ l.id }}">
                                                                         <i class="fa-solid fa-circle-info"></i>
                                                                     </button>

                                                                     <!-- model view lesson -->

                                                                     <div class="modal" id="myModal{{ l.id }}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                                         <div class="modal-dialog" role="document">
                                                                             <div class="modal-content">
                                                                                 <div class="modal-header">
                                                                                     <h5 class="modal-title">Ders : {{ l.lesson.lname }}</h5>
                                                                                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                                         <span aria-hidden="true"></span>
                                                                                     </button>
                                                                                 </div>
                                                                                 <div class="modal-body">
                                                                                     <ul class="List-unstyled">
                                                                                        <li>Ders Kodu: <strong>{{ l.lesson.lcode }}</strong></li>
                                                                                        <li>Ders Adı: <strong>{{ l.lesson.lname }}</strong></li>
                                                                                        <li>Ders Kredisi: <strong>{{ l.lesson.lcredit }}</strong></li>
                                                                                        <li>Ders Dönemi: <strong>{{ l.lesson.period }}</strong></li>
                                                                                        <li>Öğrenci Sayısı: <strong>{{ l.lesson.student.count }}</strong></li>
                                                                                     </ul>
                                                                                 </div>
                                                                                 <div class="modal-footer">
                                                                                     <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kapat</button>
                                                                                 </div>
                                                                             </div>
                                                                         </div>
                                                                     </div>
                                                                 </td>
                                                             </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                          </div>
                                      {% endif %}
                                    {% endfor %}

                                    {% for i in period %}
                                       {% if i.id == 7 %}
                                          <div class="tab-pane fade" id="donem{{ i.id }}" role="tabpanel">
                                             <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                       <th scope="col">Ders Kodu</th>
                                                       <th scope="col">Ders Adı</th>
                                                       <th scope="col">Ders Kredisi</th>
                                                       <th scope="col">ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for l in notes %}
                                                        {% if l.period.id == i.id %}
                                                           <tr>
                                                               <td style="width:20%">{{ l.lesson.lcode }}</td>
                                                               <td style="width:20%">{{ l.lesson.lname }}</td>
                                                               <td style="width:20%">{{ l.lesson.lcredit }}</td>
                                                               <td style="width:40%">
                                                                   <button type="button" class="btn me-1" href="{% url 'lesson_view' l.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{ l.id }}">
                                                                       <i class="fa-solid fa-circle-info"></i>
                                                                   </button>

                                                                   <!-- model view lesson -->

                                                                   <div class="modal" id="myModal{{ l.id }}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                                       <div class="modal-dialog" role="document">
                                                                           <div class="modal-content">
                                                                               <div class="modal-header">
                                                                                   <h5 class="modal-title">Ders : {{ l.lesson.lname }}</h5>
                                                                                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true"></span>
                                                                                   </button>
                                                                               </div>
                                                                               <div class="modal-body">
                                                                                   <ul class="List-unstyled">
                                                                                      <li>Ders Kodu: <strong>{{ l.lesson.lcode }}</strong></li>
                                                                                      <li>Ders Adı: <strong>{{ l.lesson.lname }}</strong></li>
                                                                                      <li>Ders Kredisi: <strong>{{ l.lesson.lcredit }}</strong></li>
                                                                                      <li>Ders Dönemi: <strong>{{ l.lesson.period }}</strong></li>
                                                                                      <li>Öğrenci Sayısı: <strong>{{ l.lesson.student.count }}</strong></li>
                                                                                   </ul>
                                                                               </div>
                                                                               <div class="modal-footer">
                                                                                   <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kapat</button>
                                                                               </div>
                                                                           </div>
                                                                       </div>
                                                                   </div>
                                                               </td>
                                                           </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                          </div>
                                      {% endif %}
                                    {% endfor %}

                                    {% for i in period %}
                                       {% if i.id == 10 %}
                                          <div class="tab-pane fade" id="donem{{ i.id }}" role="tabpanel">
                                             <table class="table table-hover">
                                                <thead>
                                                   <tr>
                                                      <th scope="col">Ders Kodu</th>
                                                      <th scope="col">Ders Adı</th>
                                                      <th scope="col">Ders Kredisi</th>
                                                      <th scope="col">ACTION</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                    {% for l in notes %}
                                                        {% if l.lesson.period.id == i.id %}
                                                            <tr>
                                                                <td style="width:20%">{{ l.lesson.lcode }}</td>
                                                                <td style="width:20%">{{ l.lesson.lname }}</td>
                                                                <td style="width:20%">{{ l.lesson.lcredit }}</td>
                                                                <td style="width:40%">
                                                                    <button type="button" class="btn me-1" href="{% url 'lesson_view' l.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{ l.id }}">
                                                                        <i class="fa-solid fa-circle-info"></i>
                                                                    </button>

                                                                    <!-- model view lesson -->

                                                                    <div class="modal" id="myModal{{ l.id }}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title">Ders : {{ l.lesson.lname }}</h5>
                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true"></span>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <ul class="List-unstyled">
                                                                                       <li>Ders Kodu: <strong>{{ l.lesson.lcode }}</strong></li>
                                                                                       <li>Ders Adı: <strong>{{ l.lesson.lname }}</strong></li>
                                                                                       <li>Ders Kredisi: <strong>{{ l.lesson.lcredit }}</strong></li>
                                                                                       <li>Ders Dönemi: <strong>{{ l.lesson.period }}</strong></li>
                                                                                       <li>Öğrenci Sayısı: <strong>{{ l.lesson.student.count }}</strong></li>
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kapat</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                             </table>
                                          </div>
                                       {% endif %}
                                   {% endfor %}
                                </div>
                            </div>
                        </p>
                     </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}