{% extends 'accounts/main.html' %}

{% block content %}
    <br>

        <div class="col-md-8">
            <h5>Lesson : {{ lesson_count }}</h5>
            <div class="card card-body">
                <div class="row">
                    <div class="col">
                        <div class="card card-body">
                            <form method="get">

                                {{ myFilter.form }}

                                <button class="btn btn-primary" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
                <table class="table">
                    <tr>
                        <th>Lesson Code</th>
                        <th>Lesson Name</th>
                        <th>Lesson Credit</th>
                        <th>Remove</th>
                    </tr>

                    {% for i in lessons %}
                        <tr>
                            <td>{{ i.lcode }}</td>
                            <td>{{ i.lname }}</td>
                            <td>{{ i.lcredit }}</td>
                            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_lesson' i.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>


{% endblock content %}
