{% extends 'accounts/main.html' %}

{% block content %}

<hr>
<div class="row">
    <div class="col-md-10">
            <h5>{{ request.user }}'s Lessons : {{ notes_count }}</h5>
            <div class="card card-body">
                <br>
                <table class="table table-sm">
                        <tr>
                            <th>Lesson Code</th>
                            <th>Lesson Name</th>
                            <th>Lesson Credit</th>
                        </tr>

                        {% for note in notes %}
                        <tr>
                            <td>{{ note.lesson.lcode }}</td>
                            <td>{{ note.lesson.lname }}</td>
                            <td>{{ note.lesson.lcredit }}</td>
                        </tr>
                        {% endfor %}

                    </table>
            </div>
    </div>
</div>
{% endblock %}