{% extends 'accounts/main.html' %}

{% block content %}

<div class="container-fluid">
    <h3 class="m-2">Tüm Dersler : {{ lesson_count }}</h3>
    <div class="row">
        <div class="col-12">

            <div class="card bg-light ms-3 me-3 mb-3">
                <div class="card-header">
                    <div class="col">
                        <div class="card card-header">
                            <form method="get">

                                {{ myFilter.form }}

                                <button class="btn btn-primary" type="submit">Arama</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% if lessons %}
                <div class="card-body m-1">
                    <p class="card-text">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Ders Kredisi</th>
                                        <th scope="col">Ders Kodu</th>
                                        <th scope="col">Ders Adı</th>
                                        <th scope="col">Ders Dönemi</th>
                                        <th scope="col">Öğrenci Sayısı</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for i in lessons %}
                                    <tr>
                                        <td>{{ i.lcredit }}</td>
                                        <td>{{ i.lcode }}</td>
                                        <td>{{ i.lname }}</td>
                                        <td>{{ i.period }}</td>
                                        <td>{{ i.student.count }}</td>
                                        <td>
                                            <a class="btn btn me-1" href="{% url 'create_all_notes' i.id %}">
                                                <i class="fa-solid fa-circle-plus"></i>
                                            </a>
                                            <a class="btn btn me-1" href="{% url 'update_all_notes' i.id %}">
                                                <i class="fa-solid fa-user-pen"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </p>
                </div>
                {% else %}
                    <p></p>
                    <h5 class="alert alert-primary ms-4 me-4">Ders Kaydı Yok</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
