{% extends 'accounts/main.html' %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-md-10">
                <h5>Student : </h5>
                <div class="card card-body">
                    <div class="row">
                        <div class="col">
                            <div class="card card-body">
                                <form method="get">

                                    {{ myFilter.form }}

                                    <button class="btn btn-primary" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>
                    <table class="table table-sm">
                        <tr>
                            <th>Student Number</th>
                            <th>Student Name</th>
                            <th>Student Surname</th>
                            <th>Grade</th>
                            <th>View</th>
                        </tr>

                        {% for i in student %}
                           <tr>
                                <td>{{ i.num }}</td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.surname }}</td>
                                <td>{{ i.grade }}</td>
                                <td><a class="btn btn-sm btn-btn btn-success" href="{% url 'student_notes_delete' i.id %}"> View </a></td>
                           </tr>
                        {% endfor %}
                    </table>
                </div>
        </div>
    </div>
{% endblock content %}