
<td>
                                            <button type="button" class="btn me-1" href="" data-bs-toggle="modal" data-bs-target="#myModal{{ lesson.id }}">
                                                <i class="fa-solid fa-circle-info"></i>
                                            </button>

                                            <!-- model view student -->

                                            <div class="modal" id="myModal{{ lesson.id }}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title">Ders : {{ lesson.lname }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <ul class="List-unstyled">
                                                               <li>Ders Kodu: <strong>{{ lesson.lcode }}</strong></li>
                                                               <li>Ders Adı: <strong>{{ lesson.lname }}</strong></li>
                                                               <li>Ders Kredisi: <strong>{{ lesson.lcredit }}</strong></li>
                                                               <li>Ders Dönemi: <strong>{{ lesson.period }}</strong></li>
                                                    </ul>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kapat</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                            <a class="btn btn me-1" href="">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </a>

                                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#delete{{ lesson.id }}">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </button>

                                            <!-- model delete student -->

                                            <div class="modal" id="delete{{ lesson.id }}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title">Ders : {{ lesson.lname }} </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                      <p>Bu dersi silmek istiyor musunuz?</p>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <!-- name='delete'-->
                                                      <form action="" method="post">
                                                          {% csrf_token %}
                                                          <input type="submit" class="btn btn-primary" value="Delete">
                                                      </form>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                        </td>