{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card card-body">
                <form action="" method="post">
                    <!-- CSRF: verileri güvenli göndermenin bir yolu -->
                    {% csrf_token %}
                    <!-- verileri farklı bir şekilde gönderme-->
                        {{ form }}
                    <hr>
                    <input type="submit" name="Submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}