
{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

    <style>
        .profile-pic{
            max-width: 75px;
            max-height: 75px;
            margin: 0 auto;
            border-radius: 50%;
        }
        .profile-pic1{
            max-width: 35px;
            max-height: 35px;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>

<div class="container-fluid">
    <h3 class="m-2">Tüm Öğrenciler : {{ student_count }}</h3>
    <div class="row">
        <div class="col-12">

            <div class="card bg-light ms-3 me-3 mb-3">
                <div class="card-header">
                    <div class="col">
                        <div class="card card-header">
                            <form method="get">

                                {{ myFilter.form }}

                                <button class="btn btn-primary" type="submit">Arama</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% if students %}
                <div class="card-body m-1">
                    <p class="card-text">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Fotoğraf</th>
                                        <th scope="col">Öğrenci Numarası</th>
                                        <th scope="col">Öğrenci Adı</th>
                                        <th scope="col">Öğrenci Soyadı</th>
                                        <th scope="col">Öğrenci Sınıfı</th>
                                        <th scope="col">ACTION</th>
                                        </tr>
                                </thead>
                                <tbody>
                                   {% for i in students %}
                                    <tr>
                                        <td><img class="profile-pic1" src="{{ i.profile_pic.url }}"></td>
                                        <td>{{ i.num }}</td>
                                        <td>{{ i.name }}</td>
                                        <td>{{ i.surname }}</td>
                                        <td>{{ i.grade }}</td>
                                        <td>
                                            <button type="button" class="btn me-1" href="{% url 'student_view' i.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{ i.id }}">
                                                <i class="fa-solid fa-circle-info"></i>
                                            </button>

                                            <!-- model view student -->

                                            <div class="modal" id="myModal{{ i.id }}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title"><img class="profile-pic" src="{{ i.profile_pic.url }}">  {{ i.name }} {{ i.surname }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <ul class="List-unstyled">
                                                       <li>Öğrenci Numarası: <strong>{{ i.num }}</strong></li>
                                                       <li>Öğrenci Adı: : <strong>{{ i.name }}</strong></li>
                                                       <li>Öğrenci Soyadı: <strong>{{ i.surname }}</strong></li>
                                                       <li>Öğrenci Sınıfı: <strong>{{ i.grade }}. Sınıf</strong></li>
                                                    </ul>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kapat</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                            <a class="btn btn me-1" href="{% url 'student_edit' i.id %}">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </a>

                                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#delete{{ i.id }}">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </button>

                                            <!-- model delete student -->

                                            <div class="modal" id="delete{{ i.id }}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title">Öğrenci : {{ i.name }} {{ i.surname }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                      <p>Bu öğrenciyi silmek istiyor musunuz?</p>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <!-- name='delete'-->
                                                      <form action="{% url 'student_delete' i.id %}" method="post">
                                                          {% csrf_token %}
                                                          <input type="submit" class="btn btn-primary" value="Delete">
                                                      </form>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                            <a class="btn btn me-1" href="{% url 'student_notes_view' i.id %}">
                                                <i class="fa-solid fa-user-graduate"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </p>
                </div>
            </div>
                {% else %}
                    <p></p>
                    <h5 class="alert alert-primary ms-4 me-4">Öğrenci Kaydı Yok</h5>
                {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
