{% extends 'accounts/main.html' %}

{% block content %}

    <style>
        .profile-pic{
            max-width: 200px;
            max-height: 200px;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>

    <br>
    <div class="row">
        <div class="col-md-3">
                <div class="row">
                    <div class="col">
                        <div class="col-md">
                            <h5 >Student Information</h5>
                            <div class="col-mb-2">
                                <div class="card  border-primary mb-3">
                                    <hr>
                                    <h3 style="text-align: center">{{ student.name }} {{ student.surname }}</h3>
                                    <hr>
                                    <img class="profile-pic" src="{{ student.profile_pic.url }}">
                                </div>
                            </div>
                            <div class="card border-primary mb-3 text-center text-black mb-2" id="total-students">
                                <div class="card-body">
                                    <p>Student Number: {{ student.num }}</p>
                                    <p>Student Name: {{ student.name }}</p>
                                    <p>Student Surname: {{ student.surname }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="col-md-6">
            <h5>Notes</h5>
            <div class="card card-body">
                <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_notes' student.id %}">Create Notes</a>
                <a class="btn btn-primary btn-sm btn-block" href="{% url 'update_all_notes' student.id %}">Updates All Notes</a>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="card card-body">
                            <form method="get">

                                {{ myFilter.form }}

                                <button class="btn btn-primary" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
                <table class="table table-sm">
                        <tr>
                            <th>Lesson Code</th>
                            <th>Lesson Name</th>
                            <th>Vise</th>
                            <th>Final</th>
                            <th>Make Exam</th>
                            <th>Letter Grade</th>
                            <th>Update</th>
                            <th>Remove</th>
                        </tr>

                        {% for note in notes %}
                           <tr>
                                <td>{{ note.lesson.lcode }}</td>
                                <td>{{ note.lesson.lname }}</td>
                                <td>{{ note.vise }}</td>
                                <td>{{ note.final }}</td>
                                <td>{{ note.mkexam }}</td>
                                <td>{{ note.lettergrade }}</td>
                                <td><a class="btn btn-sm btn-info" href="{% url 'update_notes' note.id %}">Update</a></td>
                                <td><a class="btn btn-sm btn-danger" href="{% url 'delete_notes' note.id %}">Delete</a></td>
                           </tr>
                        {% endfor %}

                    </table>
            </div>
        </div>

        <div class="col-md-3">
                <div class="row">
                    <div class="col">
                        <div class="col-md">
                            <h5 >Letter Grade Information</h5>
                            <div class="card border-primary mb-3 text-center text-black md-3" id="total-department">
                                <div class="card-header">
                                    <h5 class="card-title">Total Notes {{ notes_count }} </h5>
                                </div>
                                <div class="card-body">
                                    <p>Total AA : {{ aa }}</p>
                                    <p>Total BB : {{ ba }}</p>
                                    <p>Total BB : {{ bb }}</p>
                                    <p>Total BB : {{ cb }}</p>
                                    <p>Total BB : {{ cc }}</p>
                                    <p>Total BB : {{ dc }}</p>
                                    <p>Total BB : {{ dd }}</p>
                                    <p>Total BB : {{ fd }}</p>
                                    <p>Total FF : {{ ff }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

{% endblock content %}