{% extends 'accounts/main.html' %}

{% block content %}

    <span ><a href="javascript:generatePDF()" id="downloadButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="50" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
          <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z"/>
        </svg></a>
    </span>

<div class="container-fluid" id="whatToPrint" style="width: 800px">

    <div class="col-12">

        <div class="row">
                <div class="card-header">
                   <table class="table table-hover">
                          <thead>
                              <tr class="table-active">
                                 <th scope="row">Adı Soyadı: </th>
                                 <td>{{ student.name }} {{ student.surname }}</td>
                              </tr>
                              <tr class="table-active">
                                 <th scope="row">Öğrenci Sınıfı: </th>
                                 <td>{{ student.grade }}. Sınıf</td>
                              </tr>
                              <tr class="table-active">
                                 <th scope="row">Öğrenci Numarası: </th>
                                 <td>{{ student.num }}</td>
                              </tr>
                          </thead>
                      </table>
                </div>
        </div>

        <div class="row">
        {% for i in period %}
            {% if i.id == 1 %}
            <div class="card-header col-md-6">
                <div class="card-header">
                   <h5>{{ i.name }}</h5>
                </div>
                <div class="card-body">
                      <table class="table table-hover">
                           <thead>
                               <tr>
                                   <th scope="col">Ders Kodu</th>
                                   <th scope="col">Ders Adı</th>
                                   <th scope="col">Kredi</th>
                                   <th scope="col">Ort</th>
                                   <th scope="col">Harf</th>
                                   <th scope="col">Durum</th>
                               </tr>
                           </thead>
                           <tbody>
                               {% for n in notes %}
                                   {% if n.lesson.period.id == i.id %}
                                   <tr>
                                        <td style="width:25%">{{ n.lesson.lcode }}</td>
                                        <td style="width:25%">{{ n.lesson.lname }}</td>
                                        <td style="width:7%">{{ n.lesson.lcredit }}</td>
                                        <td style="width:7%">{{ n.ort }}</td>
                                        <td style="width:7%">{{ n.lettergrade }}</td>
                                        <td style="width:10%">{{ n.status }}</td>
                                   </tr>
                                   {% endif %}
                               {% endfor %}
                           </tbody>
                      </table>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        {% for i in period %}
            {% if i.id == 2 %}
            <div class="card-header col-md-6">
                <div class="card-header">
                    <h5>{{ i.name }}</h5>
                </div>
                  <div class="card-body">
                      <table class="table table-hover">
                           <thead>
                               <tr>
                                   <th scope="col">Ders Kodu</th>
                                   <th scope="col">Ders Adı</th>
                                   <th scope="col">Kredi</th>
                                   <th scope="col">Ort</th>
                                   <th scope="col">Harf</th>
                                   <th scope="col">Durum</th>
                               </tr>
                           </thead>
                           <tbody>
                               {% for n in notes %}
                                   {% if n.lesson.period.id == i.id %}
                                   <tr>
                                        <td style="width:10%">{{ n.lesson.lcode }}</td>
                                        <td style="width:35%">{{ n.lesson.lname }}</td>
                                        <td style="width:7%">{{ n.lesson.lcredit }}</td>
                                        <td style="width:7%">{{ n.ort }}</td>
                                        <td style="width:7%">{{ n.lettergrade }}</td>
                                        <td style="width:7%">{{ n.status }}</td>
                                   </tr>
                                   {% endif %}
                               {% endfor %}
                           </tbody>
                      </table>
                  </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

        <div class="row">
        {% for i in period %}
            {% if i.id == 3 %}
            <div class="card-header col-md-6">
                <div class="card-header">
                    <h5>{{ i.name }}</h5>
                </div>
                  <div class="card-body">
                      <table class="table table-hover">
                           <thead>
                               <tr>
                                   <th scope="col">Ders Kodu</th>
                                   <th scope="col">Ders Adı</th>
                                   <th scope="col">Kredi</th>
                                   <th scope="col">Ort</th>
                                   <th scope="col">Harf</th>
                                   <th scope="col">Durum</th>
                               </tr>
                           </thead>
                           <tbody>
                               {% for n in notes %}
                                   {% if n.lesson.period.id == i.id %}
                                   <tr>
                                        <td style="width:25%">{{ n.lesson.lcode }}</td>
                                        <td style="width:25%">{{ n.lesson.lname }}</td>
                                        <td style="width:7%">{{ n.lesson.lcredit }}</td>
                                        <td style="width:7%">{{ n.ort }}</td>
                                        <td style="width:7%">{{ n.lettergrade }}</td>
                                        <td style="width:10%">{{ n.status }}</td>
                                   </tr>
                                   {% endif %}
                               {% endfor %}
                           </tbody>
                      </table>
                  </div>
            </div>
            {% endif %}
        {% endfor %}

        {% for i in period %}
            {% if i.id == 4 %}
            <div class="card-header col-md-6">
                <div class="card-header">
                    <h5>{{ i.name }}</h5>
                </div>
                  <div class="card-body">
                      <table class="table table-hover">
                           <thead>
                               <tr>
                                   <th scope="col">Ders Kodu</th>
                                   <th scope="col">Ders Adı</th>
                                   <th scope="col">Kredi</th>
                                   <th scope="col">Ort</th>
                                   <th scope="col">Harf</th>
                                   <th scope="col">Durum</th>
                               </tr>
                           </thead>
                           <tbody>
                               {% for n in notes %}
                                   {% if n.lesson.period.id == i.id %}
                                   <tr>
                                        <td style="width:25%">{{ n.lesson.lcode }}</td>
                                        <td style="width:25%">{{ n.lesson.lname }}</td>
                                        <td style="width:7%">{{ n.lesson.lcredit }}</td>
                                        <td style="width:7%">{{ n.ort }}</td>
                                        <td style="width:7%">{{ n.lettergrade }}</td>
                                        <td style="width:10%">{{ n.status }}</td>
                                   </tr>
                                   {% endif %}
                               {% endfor %}
                           </tbody>
                      </table>
                  </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

        <div class="row">
        {% for i in period %}
            {% if i.id == 5 %}
            <div class="card-header col-md-6">
                <div class="card-header">
                    <h5>{{ i.name }}</h5>
                </div>
                  <div class="card-body">
                      <table class="table table-hover">
                           <thead>
                               <tr>
                                   <th scope="col">Ders Kodu</th>
                                   <th scope="col">Ders Adı</th>
                                   <th scope="col">Kredi</th>
                                   <th scope="col">Ort</th>
                                   <th scope="col">Harf</th>
                                   <th scope="col">Durum</th>
                               </tr>
                           </thead>
                           <tbody>
                               {% for n in notes %}
                                   {% if n.lesson.period.id == i.id %}
                                   <tr>
                                        <td style="width:25%">{{ n.lesson.lcode }}</td>
                                        <td style="width:25%">{{ n.lesson.lname }}</td>
                                        <td style="width:7%">{{ n.lesson.lcredit }}</td>
                                        <td style="width:7%">{{ n.ort }}</td>
                                        <td style="width:7%">{{ n.lettergrade }}</td>
                                        <td style="width:10%">{{ n.status }}</td>
                                   </tr>
                                   {% endif %}
                               {% endfor %}
                           </tbody>
                      </table>
                  </div>
                </div>
            {% endif %}
        {% endfor %}

        {% for i in period %}
            {% if i.id == 6 %}
            <div class="card-header col-md-6">
                <div class="card-header">
                    <h5>{{ i.name }}</h5>
                </div>
                  <div class="card-body">
                      <table class="table table-hover">
                           <thead>
                               <tr>
                                   <th scope="col">Ders Kodu</th>
                                   <th scope="col">Ders Adı</th>
                                   <th scope="col">Kredi</th>
                                   <th scope="col">Ort</th>
                                   <th scope="col">Harf</th>
                                   <th scope="col">Durum</th>
                               </tr>
                           </thead>
                           <tbody>
                               {% for n in notes %}
                                   {% if n.lesson.period.id == i.id %}
                                   <tr>
                                        <td style="width:25%">{{ n.lesson.lcode }}</td>
                                        <td style="width:25%">{{ n.lesson.lname }}</td>
                                        <td style="width:7%">{{ n.lesson.lcredit }}</td>
                                        <td style="width:7%">{{ n.ort }}</td>
                                        <td style="width:7%">{{ n.lettergrade }}</td>
                                        <td style="width:10%">{{ n.status }}</td>
                                   </tr>
                                   {% endif %}
                               {% endfor %}
                           </tbody>
                      </table>
                  </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

        <div class="row">
        {% for i in period %}
            {% if i.id == 7 %}
            <div class="card-header col-md-6">
                <div class="card-header">
                    <h5>{{ i.name }}</h5>
                </div>
                  <div class="card-body">
                      <table class="table table-hover">
                           <thead>
                               <tr>
                                   <th scope="col">Ders Kodu</th>
                                   <th scope="col">Ders Adı</th>
                                   <th scope="col">Kredi</th>
                                   <th scope="col">Ort</th>
                                   <th scope="col">Harf</th>
                                   <th scope="col">Durum</th>
                               </tr>
                           </thead>
                           <tbody>
                               {% for n in notes %}
                                   {% if n.lesson.period.id == i.id %}
                                   <tr>
                                        <td style="width:25%">{{ n.lesson.lcode }}</td>
                                        <td style="width:25%">{{ n.lesson.lname }}</td>
                                        <td style="width:7%">{{ n.lesson.lcredit }}</td>
                                        <td style="width:7%">{{ n.ort }}</td>
                                        <td style="width:7%">{{ n.lettergrade }}</td>
                                        <td style="width:10%">{{ n.status }}</td>
                                   </tr>
                                   {% endif %}
                               {% endfor %}
                           </tbody>
                      </table>
                  </div>
                </div>
            {% endif %}
        {% endfor %}

        {% for i in period %}
            {% if i.id == 10 %}
            <div class="card-header col-md-6">
                <div class="card-header">
                    <h5>{{ i.name }}</h5>
                </div>
                  <div class="card-body">
                      <table class="table table-hover">
                           <thead>
                               <tr>
                                   <th scope="col">Ders Kodu</th>
                                   <th scope="col">Ders Adı</th>
                                   <th scope="col">Kredi</th>
                                   <th scope="col">Ort</th>
                                   <th scope="col">Harf</th>
                                   <th scope="col">Durum</th>
                               </tr>
                           </thead>
                           <tbody>
                               {% for n in notes %}
                                   {% if n.lesson.period.id == i.id %}
                                   <tr>
                                        <td style="width:25%">{{ n.lesson.lcode }}</td>
                                        <td style="width:25%">{{ n.lesson.lname }}</td>
                                        <td style="width:7%">{{ n.lesson.lcredit }}</td>
                                        <td style="width:7%">{{ n.ort }}</td>
                                        <td style="width:7%">{{ n.lettergrade }}</td>
                                        <td style="width:10%">{{ n.status }}</td>
                                   </tr>
                                   {% endif %}
                               {% endfor %}
                           </tbody>
                      </table>
                  </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}




