{% extends 'accounts/main.html' %}

{% block content %}

    <style>
        .profile-pic{
            max-width: 100px;
            max-height: 100px;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>

    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                    <div class="row">
                        <div class="col">
                            <div class="col-md">
                                <p></p>
                                <div class="card mb-3">
                                  <h3 class="card-header">{{ student.name }} {{ student.surname }}</h3>
                                    <p></p>
                                  <img class="profile-pic" src="{{ student.profile_pic.url }}">
                                  <div class="card-body">
                                      <table class="table table-hover">
                                        <thead>
                                            <tr class="table-active">
                                              <th scope="row">Öğrenci Numarası: </th>
                                              <td>{{ student.num }}</td>
                                            </tr>
                                            <tr class="table-active">
                                              <th scope="row">Öğrenci Adı: </th>
                                              <td>{{ student.name }}</td>
                                            </tr>
                                            <tr class="table-active">
                                              <th scope="row">Öğrenci Soyadı: </th>
                                              <td>{{ student.surname }}</td>
                                            </tr>
                                        </thead>
                                      </table>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-info" href="" target="_blank">View</a>
                    <a class="btn btn-info" href="">Download</a>
            </div>

            <div class="col-9">
                    <div class="card bg-light ms-3 me-3 mb-3">
                        <div class="card-body m-1">
                        <p class="card-text">
                            <div class="table-responsive">
                            {% for i in period %}
                                <h4>
                                    <a href="#donem{{ i.id }}" aria-selected="false" tabindex="-1">{{ i.name }}</a>
                                </h4>
                                {% if notes %}
                                    <p></p>
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade show active" id="donem{{ i.id }}" role="tabpanel">

                                            <table class="table table-hover">
                                                <thead>
                                                  <tr>
                                                      <th scope="col">Ders Kodu</th>
                                                      <th scope="col">Ders Adı</th>
                                                      <th scope="col">Ders Kredisi</th>
                                                      <th scope="col">Ortalama</th>
                                                      <th scope="col">Harf Notu</th>
                                                      <th scope="col">Durum</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  {% for n in notes %}
                                                        {% if n.lesson.period.id == i.id %}
                                                              <tr>
                                                                  <td style="width:10%">{{ n.lesson.lcode }}</td>
                                                                  <td style="width:10%">{{ n.lesson.lname }}</td>
                                                                  <td style="width:10%">{{ n.lesson.lcredit }}</td>
                                                                  <td style="width:10%">{{ n.ort }}</td>
                                                                  <td style="width:10%">{{ n.lettergrade }}</td>
                                                                  <td style="width:10%">{{ n.status }}</td>
                                                              </tr>
                                                        {% endif %}
                                                  {% endfor %}
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                                {% else %}
                                    <p></p>
                                    <p class="alert alert-primary ms-1 me-1">Not Kaydı Yok</p>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </p>
                        </div>
                    </div>
                </div>

        </div>
    </div>

{% endblock content %}