{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">
                <hr>
                <h3 style="text-align: center">{{ request.user.student.name }} {{ request.user.student.surname }}</h3>
                <hr>
                <img class="profile-pic" src="{{ request.user.student.profile_pic.url }}">
            </div>
        </div>
        <div class="col-md-3">
                <div class="row">
                    <div class="col">
                        <div class="col-md">
                            <div class="card text-center text-black mb-3" id="total-students">
                                <div class="card-header">
                                    <h5 class="card-title">{{ request.user }}'s Information</h5>
                                </div>
                                <div class="card-body">
                                    <p>Student Number: {{ user.student.num }}</p>
                                    <p>Student Name: {{ user.student.name }}</p>
                                    <p>Student Surname: {{ user.student.surname }}</p>
                                    <p>Student Grade: {{ user.student.grade }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <br>
        <div class="col-md-3">
                <div class="row">
                    <div class="col">
                        <div class="col-md">
                            <div class="card text-center text-black mb-3" id="total-students">
                                <div class="card-header">
                                    <h5 class="card-title">{{ request.user }}'s Lesson</h5>
                                </div>
                                <div class="card-body">
                                    {% for note in notes %}
                                        <lu>
                                            <p>Lesson: {{ note.lesson.lname }}</p>
                                        </lu>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <br>
        <div class="col-md-3">
                    <div class="row">
                        <div class="col">
                            <div class="col-md">
                                <div class="card text-center text-black mb-3" id="total-department">
                                    <div class="card-header">
                                        <h5 class="card-title">{{ request.user }}'s Letter Grade</h5>
                                    </div>
                                    <div class="card-body">
                                        <p>Total AA : {{ aa }}</p>
                                        <p>Total BB : {{ ba }}</p>
                                        <p>Total BB : {{ bb }}</p>
                                        <p>Total BB : {{ cb }}</p>
                                        <p>Total BB : {{ cc }}</p>
                                        <p>Total BB : {{ dc }}</p>
                                        <p>Total BB : {{ dd }}</p>
                                        <p>Total BB : {{ fd }}</p>
                                        <p>Total FF : {{ ff }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>

{% endblock content %}

