{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

    <br>
    <div class="row">
        <div class="card-header col-md-4  col-sm-2">
        <div class="card text-white bg-primary text-center">
            <div class="card-header">Öğrenim Bilgileri</div>
              <div class="card-body">
                <p class="card-text">{{ request.user.student.grade }}. Sınıf</p>
              </div>
        </div>
      </div>
        <div class="card-header col-md-4 col-sm-2">
            <div class="card text-white bg-secondary text-center">
                    <div class="card-header">Ders Sayısı</div>
                  <div class="card-body">
                    <h5 class="card-text">{{ notes_count }}</h5>
                  </div>
            </div>
          </div>
        <div class="card-header col-md-4 col-sm-2">
            <div class="card text-white bg-info text-center">
                <div class="card-header">AGNO</div>
                  <div class="card-body">
                    <h5 class="card-text">{{ notes_count }}</h5>
                  </div>
            </div>
          </div>

    </div>

{% endblock content %}

